@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


.button {
    /* Play solo */
    width: fit-content;
    margin: 20px 0;
    padding: 10px 25px;
    height: fit-content;
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30x;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    border-bottom: #FFFFFF 1px solid;
    letter-spacing: -1px;
    -webkit-text-stroke: #B28100 2px;
    box-shadow: 0px 14px 0px -5px rgba(255, 200, 0, 0.978);
    border-radius: 45px;
    background-color: rgba(255, 213, 0, 0.859);
}