@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.Box {
    cursor: pointer;

    aspect-ratio: 1/1;
    background-color: #C9F9FC;
    border: solid 3px black;
    flex: 0 0 calc(33.33% - 10px);
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: -1px 1px black;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    color: rgba(255, 213, 0, 0.859);
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 1200;
    font-size: 25vw;
    -webkit-text-stroke: #0a0700 10px;
    /* box-shadow: -3px 12px 0px 23px black; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border-color: black; */
}

.Box p {
    position: absolute;
    line-height: 1em;
}