.font {
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30x;
    justify-content: center;
    color: #FFFFFF;
    letter-spacing: -1px;
    -webkit-text-stroke: #0a0700 2px;
    display: flex;
    align-items: center;
}